@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-family: 'Noto Sans KR', 'Montserrat', 'Malgun Gothic', Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
  color: #2C2C2E;
  background: #fff;
}

a {
  display: block;
  font-weight: 400;
  color: #2C2C2E;
  text-decoration: none;
  word-break: break-all;
}

button {
  cursor: pointer;
  border: 0 none;
  background-color: #fff;
}

input, select, textarea, button {
  font-family: 'Noto Sans KR', 'Montserrat', 'Malgun Gothic', Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
  outline: none;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

input:focus, select:focus, textarea:focus, button:focus {
  border: 1px solid #5f6062;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

ul, ol, dl, dt, dd, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  word-break: break-all;
  font-weight: 400;
}

.hidden {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  font-size: 14px;
  color: #5f6062;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #e8e8e8;
}

.btn_type1 {
  color: #fff;
  background: #C20073;
  border: 1px solid #C20073;
}

.btn_type2 {
  color: #5f6062;
  border: 1px solid #B0AAAE;
}

.btn_type3 {
  border: 1px solid #6D616A;
  color: #fff;
  background: #6D616A;
}

.btn_type4 {
  color: #C20073;
  border: 1px solid #C20073;
}

.mon {
  font-family: 'Montserrat';
}

.side {
  padding: 0 18px;
}

table th {
  font-size: 14px;
  color: #929394;
  background: #fafafa;
}

table td {
  font-size: 14px;
}

table td.date {
  font-family: 'Montserrat';
}

table td.stat {
  color: #C20073;
}

tr.hide {
  display: none;
}

.input-box {
  width: 100%;
  padding: 5px 10px;
  line-height: 23px;
  border: 1px solid #c7c7c7;
  background: #fff;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.input-box::-webkit-input-placeholder {
  font-size: 14px;
  color: #c7c7c7;
}

.input-box:-ms-input-placeholder {
  font-size: 14px;
  color: #c7c7c7;
}

.input-box::-ms-input-placeholder {
  font-size: 14px;
  color: #c7c7c7;
}

.input-box::placeholder {
  font-size: 14px;
  color: #c7c7c7;
}

.select-box {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #c7c7c7;
  background: url(../images/btn-more.png) no-repeat right 10px center;
  background-size: auto 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.tb-wrap {
  position: relative;
  padding-bottom: 20px;
  background: url(../images/m_list_btn.png) no-repeat right bottom;
  overflow-x: auto;
}

.tb-tit {
  font-size: 18px;
  margin: 40px 0 20px;
  font-weight: 500;
}

.paging {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.paging a {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  line-height: 36px;
  text-align: center;
  color: #929394;
  font-family: 'Montserrat';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  vertical-align: top;
}

.paging a.on {
  color: #2C2C2E;
  margin: 0 30px;
}

.paging a.on span {
  color: #C20073;
  font-weight: 700;
  margin-right: 5px;
}

.paging a.btn-start {
  background: url(../images/btn-start.png) no-repeat center center;
}

.paging a.btn-prev {
  background: url(../images/btn-prev.png) no-repeat center center;
}

.paging a.btn-next {
  background: url(../images/btn-next.png) no-repeat center center;
}

.paging a.btn-end {
  background: url(../images/btn-end.png) no-repeat center center;
}

#ui-datepicker-div {
  display: none;
}

.ui-datepicker-next-hover {
  right: 2px;
  top: 2px;
}

.ui-datepicker-prev-hover {
  left: 2px;
  top: 2px;
}

.ui-state-hover {
  background: #fff;
  border: 0 none;
  color: #C20073 !important;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.datepicker tbody .ui-state-active {
  background: #C20073 !important;
  color: #fff !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ui-widget-header .ui-datepicker-next, .ui-widget-header .ui-datepicker-prev {
  top: 25px;
}

.ui-widget-header .ui-datepicker-next .ui-icon {
  width: 10px;
  height: 15px;
  background: url(../images/btn-next-b.png) no-repeat;
}

.ui-widget-header .ui-datepicker-prev .ui-icon {
  width: 10px;
  height: 15px;
  background: url(../images/btn-prev-b.png) no-repeat;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  background: #fff !important;
  border: 0 none !important;
}

.header {
  text-align: center;
}

.header h1 {
  display: inline-block;
  width: 180px;
  vertical-align: top;
}

.header h1 a {
  height: 64px;
  background: url(../images/hd_logo-b.png) no-repeat center center;
  background-size: auto 27px;
  font-size: 0;
  line-height: 0;
}

.footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 60px;
  padding: 30px 18px 18px 18px;
}

.footer:before {
  content: '';
  display: block;
  height: 24px;
  margin-bottom: 20px;
  background: url(../images/logo-ft.png) no-repeat center center;
}

.footer .ft_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

.footer .ft_menu a {
  position: relative;
  width: calc(50% - 10px);
  line-height: 40px;
  text-align: center;
  margin: 5px;
}

.footer .ft_menu a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 12px;
  width: 15px;
  height: 40px;
  background: url(../images/icon-more.png) no-repeat center center;
  vertical-align: top;
}

.footer .ft_menu a.wd100 {
  width: 100%;
  color: #C20073;
  margin-bottom: 5px;
}

.footer .ft_info {
  margin-top: 15px;
  text-align: center;
}

.footer .ft_info a {
  color: #929394;
  font-size: 14px;
  display: inline-block;
  margin: 0 10px;
}

.footer .ft_info a.copy {
  font-size: 12px;
  color: #c7c7c7;
}

.m-banner {
  background: url(../images/m_main_visual.jpg) no-repeat center bottom;
  background-size: cover;
}

.m-banner p {
  padding: 60px 20px 107px;
  text-align: right;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
}

.m-banner p span {
  font-size: 24px;
  font-weight: 600;
}

.main-box {
  padding: 18px;
}

.main-box a.main-btn {
  position: relative;
  padding: 20px 15px 20px 30px;
  margin: -50px 0 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  background: #C20073;
}

.main-box a.main-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  background: url(../images/link_more-w.png) no-repeat center;
}

.main-box .cont-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

.main-box .cont-box a {
  position: relative;
  width: calc(50% - 10px);
  padding: 20px;
  margin: 5px;
  background: #fff;
  border: solid 1px #e8e8e8;
  font-size: 13px;
}

.main-box .cont-box a .stat {
  font-size: 13px;
  margin-bottom: 5px;
  color: #C20073;
}

.main-box .cont-box a .stat.finish {
  color: #2c2c2e;
}

.main-box .cont-box a .tit {
  font-size: 16px;
  margin-bottom: 52px;
}

.main-box .cont-box a .date {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: calc(100% - 40px);
  color: #929394;
  font-size: 13px;
  font-family: 'Montserrat';
}

.main-box .mSlide {
  position: relative;
  width: 100%;
  margin: 30px auto 40px;
  overflow: inherit;
}

.main-box .mSlide .menu-list a.main-icon1 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon1:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon1.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon2 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon2:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon2.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon3 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon3:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon3.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon4 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon4:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon4.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon5 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon5:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon5.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon6 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon6:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon6.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon7 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon7:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon7.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon8 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon8:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon8.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon9 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon9:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon9.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon10 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon10:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon10.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a.main-icon11 {
  text-align: center;
}

.main-box .mSlide .menu-list a.main-icon11:before {
  content: '';
  display: block;
  margin-bottom: 15px;
  height: 75px;
  background: url(../images/main-icon11.png) no-repeat center;
  background-size: contain;
}

.main-box .mSlide .menu-list a {
  float: left;
  width: 33.33%;
}

.main-box .mSlide .swiper-pagination {
  position: absolute;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-box .mSlide .swiper-pagination .swiper-pagination-bullet-active {
  background: #C20073;
}

.main-box .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -5px;
}

.main-box .sub-menu a {
  width: calc(50% - 10px);
  padding: 15px 20px 28px;
  margin: 5px;
  border: 1px solid;
}

.main-box .sub-menu a .tit {
  font-size: 18px;
  margin-bottom: 70px;
  font-weight: 500;
}

.main-box .sub-menu a.notice {
  border-color: #e8e8e8;
}

.main-box .sub-menu a.notice .more:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 24px;
  margin-left: 5px;
  background: url(../images/btn-next-g.png) no-repeat center center;
  vertical-align: middle;
}

.main-box .sub-menu a.faq {
  color: #fff;
  background: #AB9DA8;
  border-color: #AB9DA8;
}

.main-box .sub-menu a.faq .more:after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 24px;
  margin-left: 5px;
  background: url(../images/btn-next-w.png) no-repeat center center;
  vertical-align: middle;
}

.main-box .main-info {
  position: relative;
  padding: 20px 20px 10px;
  margin-top: 15px;
  background: url(../images/info-bg.png) no-repeat center center;
  background-size: cover;
}

.main-box .main-info h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}

.main-box .main-info .tit-box {
  margin-top: 15px;
  color: #c7c7c7;
}

.main-box .main-info .txt-box {
  margin-top: 30px;
}

.main-box .main-info .txt-box li {
  position: relative;
  border-bottom: 1px solid #c7c7c7;
}

.main-box .main-info .txt-box li:last-child {
  border-bottom: 0 none;
}

.main-box .main-info .txt-box li:after {
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../images/btn-next-w.png) no-repeat center right;
}

.main-box .main-info .txt-box li a {
  color: #fff;
  font-size: 14px;
  line-height: 50px;
}

.main-box .help {
  margin: 15px 0;
  padding: 25px 20px 10px;
  background: #f7f5f7;
}

.main-box .help .mon {
  font-size: 24px;
  margin-bottom: 35px;
  font-weight: 500;
}

.main-box .help dd {
  line-height: 48px;
}

.main-box .help dd:last-child {
  border-top: 1px solid #e8e8e8;
}

.main-box .help dd span {
  margin-left: 10px;
}

.main-box .manual {
  position: relative;
  font-size: 16px;
  line-height: 50px;
  padding: 0 20px;
  border-radius: 0;
}

.main-box .manual:after {
  content: '';
  position: absolute;
  top: 0;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url(../images/btn-next-w.png) no-repeat center right;
}

.header h2 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 64px;
  font-weight: 500;
}

.header h2:before {
  content: '';
  position: absolute;
  top: 17px;
  left: 3%;
  width: 30px;
  height: 30px;
  background: url(../images/m_back.png) no-repeat center center;
}

.header h2:after {
  content: '';
  position: absolute;
  top: 17px;
  right: 3%;
  width: 30px;
  height: 30px;
  background: url(../images/m_home.png) no-repeat center center;
}

.main-wrap {
  overflow: hidden;
}

.main-wrap .filter {
  padding: 20px 36px;
  margin: 0 -18px;
  background: #fafafa;
}

.main-wrap .filter table th {
  text-align: left;
  padding-bottom: 13px;
}

.main-wrap .filter table td {
  padding-bottom: 13px;
}

.main-wrap .filter table td input {
  height: 40px;
  padding: 5px 10px;
}

.main-wrap .filter table .cal-wrap {
  position: relative;
  display: inline-block;
  width: calc(50% - 7px);
}

.main-wrap .filter table .cal-wrap input {
  width: 100%;
}

.main-wrap .filter table .cal-wrap img {
  position: absolute;
  top: 50%;
  right: 10px;
  margin: -6px 0 0;
  cursor: pointer;
}

.main-wrap .filter table .select-box {
  background-color: #fff;
}

.main-wrap .filter .mfilter-btn {
  color: #5f6062;
  text-align: right;
}

.main-wrap .filter .mfilter-btn:after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  background: url(../images/btn-up.png) no-repeat center center;
  vertical-align: top;
}

.main-wrap .filter .mfilter-btn.on:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-wrap .btn_type3 {
  margin: 20px 18px 0;
  font-size: 15px;
  text-align: center;
  line-height: 50px;
}

.sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 18px 10px;
  line-height: 38px;
}

.sub-info p {
  display: inline-block;
  color: #929394;
  vertical-align: bottom;
}

.sub-info p span {
  color: #2c2c2e;
  font-family: 'Montserrat';
  font-weight: 500;
}

.sub-info .btn {
  display: inline-block;
  padding: 0 12px;
  vertical-align: top;
}

.sub-info .btn:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  background: url(../images/ico_down.png) no-repeat center center;
}

.tb-wrap {
  margin: 0 18px;
}

.sub-tb01 {
  min-width: 900px;
  border-top: solid 2px #73656e;
  border-bottom: solid 1px #c7c1c5;
  color: #929394;
}

.sub-tb01 th {
  font-size: 13px;
  line-height: 34px;
  border-bottom: 1px solid #c7c1c5;
  background: #fff;
}

.sub-tb01 td {
  padding: 13px 5px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sub-tb01 td.title {
  text-align: left;
  color: #2C2C2E;
  font-weight: 500;
}

.sub-tb01 .stat.active {
  color: #2c2c2e;
  font-weight: 500;
}

.no-data {
  padding: 100px 0;
  text-align: center;
  font-weight: 600;
  border-top: 1px solid #73656e;
}

.main-wrap {
  padding: 0;
}

.main-wrap .top-tit {
  position: relative;
  padding: 20px 18px;
}

.main-wrap .top-tit:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}

.main-wrap .top-tit h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
}

.main-wrap .top-tit .stat-wrap {
  font-size: 14px;
}

.main-wrap .top-tit .stat-wrap li {
  display: inline-block;
}

.main-wrap .top-tit .stat-wrap li span {
  padding-left: 10px;
}

.main-wrap .top-tit .stat-wrap li.stat {
  margin-right: 40px;
}

.main-wrap .top-tit .stat-wrap li.stat span {
  position: relative;
  color: #C20073;
}

.main-wrap .top-tit .stat-wrap li.stat span:after {
  content: '';
  position: absolute;
  top: 5px;
  right: -22px;
  height: 12px;
  width: 1px;
  background: #dedede;
}

.main-wrap .detail-tab {
  margin-top: 10px;
  border-bottom: 1px solid #dedede;
  white-space: nowrap;
  overflow-x: auto;
}

.main-wrap .detail-tab a {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  vertical-align: top;
}

.main-wrap .detail-tab a.on {
  font-weight: 700;
  border-bottom: 2px solid #2c2c2e;
}

.main-wrap .detail-tab a.disabled {
  color: #929394;
  font-weight: 400 !important;
  border-bottom-color: 0 none !important;
}

.main-wrap .detail-tab a.disabled:before {
  opacity: 1;
  border: 0 none;
}

.main-wrap .tb-wrap02 {
  background: none;
}

.main-wrap .tb-wrap02 .sub-tb02 tr {
  border-top: 1px solid #dedede;
  text-align: left;
}

.main-wrap .tb-wrap02 .sub-tb02 tr:last-child {
  border-bottom: 1px solid #dedede;
}

.main-wrap .tb-wrap02 .sub-tb02 th {
  padding: 16px 12px;
}

.main-wrap .tb-wrap02 .sub-tb02 td {
  padding: 16px 12px;
  background: #fff;
}

.main-wrap .tb-wrap03 .caution {
  margin-top: 20px;
}

.main-wrap .tb-wrap03 .caution dt {
  font-size: 14px;
  margin-bottom: 10px;
}

.main-wrap .tb-wrap03 .caution dd {
  position: relative;
  padding-left: 10px;
  font-size: 13px;
  line-height: 27px;
  color: #929394;
}

.main-wrap .tb-wrap03 .caution dd:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 13px;
  width: 3px;
  height: 3px;
  background: #73656E;
  border-radius: 100%;
}

.main-wrap .tb-wrap03 table {
  border: solid #DEDEDE;
  border-width: 1px 0;
}

.main-wrap .tb-wrap03 tr:first-child {
  border-bottom: 1px solid #e8e8e8;
}

.main-wrap .tb-wrap03 th {
  padding: 16px 12px;
  text-align: left;
}

.main-wrap .tb-wrap03 td {
  padding: 16px 12px;
}

.main-wrap .tb-wrap03 .sub-tb04 {
  margin-top: 20px;
}

.main-wrap .upload a {
  position: relative;
  font-size: 13px;
  padding: 20px 20px 20px 50px;
  font-weight: 500;
  background: #fafafa;
}

.main-wrap .upload a:first-child {
  margin-bottom: 10px;
}

.main-wrap .upload a:after {
  content: '';
  position: absolute;
  top: 25px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url(../images/ico-save.png) no-repeat center center;
}

.main-wrap .upload a span {
  display: block;
  color: #929394;
}

.main-wrap .product td {
  padding: 16px 12px;
}

.main-wrap .product .sub-tb05 {
  border: solid #dedede;
  border-width: 1px 0;
  margin-bottom: 20px;
}

.main-wrap .product .sub-tb05 th {
  padding: 16px 12px;
  text-align: left;
}

.main-wrap .product .tb-wrap {
  margin: 0 !important;
}

.main-wrap .product .sub-tb06 {
  min-width: 900px;
}

.main-wrap .product .sub-tb06 th {
  padding: 16px 0;
  border: 1px solid #dedede;
}

.main-wrap .product .sub-tb06 th:first-child {
  border-left: 0;
}

.main-wrap .product .sub-tb06 th:last-child {
  border-right: 0;
}

.main-wrap .product .sub-tb06 td {
  text-align: center;
  border-right: 1px solid #dedede;
}

.main-wrap .product .sub-tb06 td:first-child {
  border-left: 0;
}

.main-wrap .product .sub-tb06 td:last-child {
  border-right: 0;
}

.main-wrap .product .sub-tb06 .ta-left {
  text-align: left;
}

.main-wrap .product .sub-tb06 .ta-right {
  text-align: right;
}

.main-wrap .product .sub-tb06 tfoot td {
  padding: 10px 15px;
  background: #fcf5f9;
  border-top: solid 1px #e8e8e8;
  font-size: 16px;
  font-weight: 500;
  color: #c20073;
  text-align: right;
}

.main-wrap .product .sub-tb06 tfoot td span {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  color: #2c2c2e;
}

.main-wrap .select-sec {
  margin-top: 40px;
}

.main-wrap .select-sec .select-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-wrap .select-sec .select-wrap .select-box {
  width: calc(100% - 70px);
  margin-right: 10px;
  vertical-align: top;
}

.main-wrap .select-sec .select-wrap a.btn_type1 {
  text-align: center;
  width: 60px;
  line-height: 38px;
  font-size: 14px;
  vertical-align: top;
}

.main-wrap a.btn_type3 {
  margin: 20px 0px;
}

.main-wrap {
  padding: 0;
}

.tab-box {
  font-size: 16px;
  width: 100%;
  display: table;
  border-bottom: solid 1px #dedede;
  table-layout: fixed;
}

.tab-box a {
  display: table-cell;
  width: 50%;
  padding: 15px 20px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #fff;
}

.tab-box a.on {
  font-weight: 700;
  color: #2c2c2e;
  border-bottom: 2px solid #2c2c2e;
}

.sub-tb07 {
  margin-top: 20px;
  border: solid #dedede;
  border-width: 1px 0;
}

.sub-tb07 tr {
  border-bottom: 1px solid #dedede;
}

.sub-tb07 tr:last-child {
  border-bottom: 0 none;
}

.sub-tb07 th {
  text-align: left;
  padding: 16px 12px;
}

.sub-tb07 td {
  padding: 16px 12px;
}

.sign .tb-sub {
  color: #5F6062;
  margin-bottom: 20px;
  font-size: 14px;
}

.sign .img-box {
  position: relative;
  height: 400px;
  background: #f1f1f1 url(../images/ico_noimg.png) no-repeat center center;
}

.sign .img-box:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: #aaa url(../images/ico_viewport.png) no-repeat center center;
}
